<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全类名-->
<mapper namespace="com.szq.web.mapper.web.ArticleCategoryRelMapper">

    <select id="selectCategoryByArticleId" resultType="com.szq.web.model.Category">
        select t.id as id,t.name as name from t_category t
        left join t_article_category_rel a
        on t.id = a.category_id
        where a.article_id = #{articleId}
    </select>
</mapper>